*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background-color: black;
    color: #fff;
}

.primary-btn{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.secondary-btn{
    border: 0;
    outline: 0;
    background: #383d3991;
    color: #fff;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 37vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
    width: 100px;
    cursor: pointer;
}


.language-btn{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 0.1px solid lightgray;
    padding: 7px 10px;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 42px;
    width: 90%;
}

.banner-content h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.banner-content h2{
    font-weight: 400;
    margin-bottom: 1rem;
}



.email-signup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;

}

.email-signup input{
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.6rem;
    width: 100%;
    margin-left: 20px;
    background-color: rgba(32, 32, 32, 0.788);
    border-color: 1px solid white;
}

.email-signup button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 15px 30px;
}


/* Features */

.feature-content img{
    width: 100%;
}

.feature-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem 4rem 2rem;
    border-bottom: 8px solid #232323;
}

.feature-content h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.feature-content p{
    margin-bottom: 1.5rem;
}


/* Accordion */

.faq{
    padding: 3rem 5% 0 5%;
}

.faq h2{
    font-size: 32px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style-type: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 1.5rem;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


/* Subscription */
.subscription{
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
    border-bottom: 8px solid #232323;
    margin-bottom: 1rem;
}

.subscription h3{
    font-weight: 400;
}

/* Footer */

footer{
    color: rgba(255,255,255,0.7);
    padding:2rem;
}

footer a{
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
    font-size: 16px;
}

.footer-content li{
    list-style: none;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.footer-content ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
}

.footer-content ul li{
    margin-bottom: 1rem;
}

footer p{
    margin:1rem 0;
    font-size: 14px;
}


/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 960px) {
    .banner{
        height: 50vh;
    }
    .email-signup{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0;
    }

    .email-signup input{
        width: 50%;
        padding: 1rem;
    }
    
    .email-signup button{
        font-size: 24px;
        padding: 1rem 30px;
    }
}


/* Desktop */
@media only screen and (min-width: 961px){
    *{
        font-size: 24px;
    }

    nav, .banner-content, .feature-content, .faq, .subscription, footer{
        max-width: 1600px;
        margin: 0 auto;
    }

    .banner{
        height: 55vh;
    }
    .banner-content h1{
        font-size: 2rem;
        font-weight: 700;
    }
    .email-signup{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0;
        max-width: 50%;
        margin: 1rem auto;
    }
    .email-signup input{
        max-width: 40%;
        padding: 0.7rem;
    }
    
    .email-signup button{
        font-size: 24px;
        padding: 0.7rem 30px;
    }

    .features{
        margin-top: 1rem;
    }

    .feature-content img{
        width: 100%;
        max-width: 40%;
    }
    
    .feature-content{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0.5rem;
        text-align: left;
        padding: 2rem;
        border-bottom: 8px solid #232323;
    }
    
    .feature-content h3{
        font-weight: 900;
        margin-bottom: 1rem;
    }
    
    .feature-content p{
        margin-bottom: 1rem;
    }

    .feature-content:nth-child(even){
        flex-direction: row-reverse;
    }

    .accordion{
        max-width: 100%;
    }

    .faq{
        padding: 3rem 0 0 0;
    }
    .accordion p{
        font-size: 18px;
    }

    .subscription{
        /* padding: 1rem 1rem 3rem 1rem; */
        max-width: 90%;
        margin: 0 auto;
    }
    
    .subscription .email-signup{
        margin: 1rem auto;
    }

    .footer-content ul{
        grid-template-columns: repeat(4,1fr);
        gap: 0;
        width: 100%;
    }

}